= link_to t('.new_dataset'), new_file_upload_path, class: "btn btn-sm btn-primary", data: { turbo_frame: "modal" }
.modal.fade{"data-action" => "turbo:frame-load->modal#open turbo:submit-end->modal#close", "data-controller" => "modal", tabindex: "-1"}
  .modal-dialog.modal-dialog-centered
    .modal-content
      = turbo_frame_tag "modal"
%hr

%table.table
  %thead
    %tr
      %th DataSet
      %th Unique by
      %th Import Source
      %th No. of dashboards
      %th CreatedAt
      %th Action
  %tbody{id: "file_uploads"}
    = render partial: "file_upload", collection: @file_uploads

-# = link_to t('.file_upload'), new_file_upload_path
-#
-# - @file_uploads.each do |file|
-#   %h4
-#     File name:
-#     = file.name
-#   %h4
-#     File type:
-#     = file.file_type
-#   %h4
-#     File size:
-#     = file.file_size
-#   %h4
-#     Row count:
-#     = file.csv_rows.count
-#   %h4
-#     = link_to t('.show'), file_upload_path(file)
-#   %hr
-#
-#
