- if @short_url.expired?
  .min-vh-100.d-flex.align-items-center.justify-content-center
    %h4 Sorry! Expired shared link.
- else
  .row.m-3
    - @dashboard.visualizations.each do |visualization|
      .col-md-6
        = visualization.label
        - if visualization.y_axis_object.present?
          %canvas.my-2{"data-controller": "dashboard", "data-index": visualization.dataset_id, "data-dashboard-type-value": visualization.chart_type, "data-dashboard-group-by-value": visualization.y_axis_object.to_json, "data-dashboard-column-names-value": visualization.x_axis_object.to_json,  class: 'border rounded-1'}
