= link_to t('.add_platform'),  new_data_platform_path, class: "btn btn-primary"

%hr

%table.table
  %thead
    %tr
      %th Platform
      %th Config
      %th CreatedAt
      %th Action
  %tbody{id: "data_platforms"}
    = render partial: "data_platforms/data_platform", collection: @data_platforms
