.d-flex.align-items-center
  = link_to t('.new_visualization'), new_file_upload_visualization_path(@file_upload), class: "btn btn-sm btn-primary", data: { turbo_frame: "modal" }
  .modal.fade{"data-action" => "turbo:frame-load->modal#open turbo:submit-end->modal#close", "data-controller" => "modal", tabindex: "-1"}
    .modal-dialog.modal-dialog-centered
      .modal-content
        = turbo_frame_tag "modal"

  .ms-auto
    = render "common/data_table", title:  @file_upload, file_upload_id: params[:file_upload_id]
    -# %span{"aria-controls" => "offcanvasScrolling", "data-bs-target" => "#offcanvasScrolling", "data-bs-toggle" => "offcanvas"}
    -#   %button.btn.btn-primary{ "data-bs-toggle": "tooltip", "data-bs-title":  t('.data_table') }
    -#     %i.bi-info-circle
    -# #offcanvasScrolling.offcanvas.offcanvas-end.w-75{"aria-labelledby" => "offcanvasScrollingLabel", "data-bs-backdrop" => "false", "data-bs-scroll" => "true", tabindex: "-1"}
    -#   .offcanvas-header
    -#     %h5#offcanvasScrollingLabel.offcanvas-title= @file_upload
    -#     %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "offcanvas", type: "button"}
    -#   .offcanvas-body
    -#     %div{class: "mt-3", data: { controller: "tabulator", index: params[:file_upload_id] } }

%hr

%table.table
  %thead
    %tr
      %th #
      %th Label
      %th CreatedAt
      %th Action
  %tbody
    = render partial: "visualization", collection: @visualizations

-# .card
-#   .row
-#     .col-md-8
-#       %div{class: "mt-3", data: { controller: "tabulator", index: params[:file_upload_id] } }
-#     .col-md-4
-#       %table.table
-#         %thead
-#           %tr
-#             %th #
-#             %th Label
-#             %th CreatedAt
-#             %th Action
-#         %tbody
-#           = render partial: "visualization", collection: @visualizations
-#


    -# - @visualizations.each do |visualization|
    -#   %tr{"id" => dom_id(visualization)}
    -#     %th{scope: "row"}= visualization.id
    -#     %td= visualization.label
    -#     %td=visualization.created_at
    -#     %td
    -#       =link_to t('.destroy'), file_upload_visualization_path(@file_upload, visualization), data: { 'turbo-method' => :delete, confirm: "Are you sure?" }, class: 'btn btn-sm btn-outline-danger'
    -#       =link_to t('.show'), file_upload_visualization_path(@file_upload, visualization), class: 'btn btn-sm btn-outline-primary'

-# %div{class: "mt-3", data: { controller: "tabulator", index: params[:file_upload_id] } }