%h4 Create Visualizations

.m-4
  .row{"data-visualization-type-value": 'bar', "data-controller": "visualization", "data-index": params[:file_upload_id], "data-visualization": params[:id]}
    .col-md-2.list-group{"data-visualization-target":  "headers"}
      = render partial: "csv_header", collection: @csv_headers
    .col-md-2
      .row.list-group.h-50.border{"data-visualization-target": "columnNames"}
      .row.list-group.h-50.border{"data-visualization-target": "groupBy"}
    .col-md-8
      %canvas{"data-visualization-target":  "canvas", class: 'border rounded-1'}

