%h1 Home#index
%p Find me in app/views/home/index.html.haml


= link_to t('.file_upload'), new_file_upload_path
= link_to t('.uploaded_files'), file_uploads_path

%div{"data-controller" => "tabulator", "data-index" => "4"}

-# #example-table
