= link_to t('.file_upload'), new_file_upload_path, class: "btn btn-primary", data: { turbo_frame: "modal" }
.modal.fade{"data-action" => "turbo:frame-load->modal#open turbo:submit-end->modal#close", "data-controller" => "modal", tabindex: "-1"}
  .modal-dialog.modal-dialog-centered
    = turbo_frame_tag "modal"

%hr

%table.table
  %thead
    %tr
      %th{scope: "col"} #
      %th{scope: "col"} DataSet
      %th{scope: "col"} CreatedAt
      %th{scope: "col"} Action
  %tbody
    - @file_uploads.each do |file_upload|
      %tr
        %th{scope: "row"}= file_upload.id
        %td= file_upload.name
        %td=file_upload.created_at
        %td
          -# =link_to t('.visualizations'), "#", class: 'btn btn-outline-secondary'
          =link_to t('.show'), file_upload_visualizations_path(file_upload), class: 'btn btn-outline-primary'

