%tr{id: dom_id(data_stream_file)}
  %td{scope: "row"}= data_stream_file.id
  %td= data_stream_file.file
  %td= data_stream_file.created_at
  %td
    =link_to t('.destroy'), data_stream_data_stream_file_path(@data_stream, data_stream_file), data: { 'turbo-method' => :delete, confirm: "Are you sure?" }, class: 'btn btn-sm btn-outline-danger'
