= simple_form_for([@data_stream], html: {"data-turbo": false}) do |f|
  = f.input :dataset, collection: @datasets, input_html: { data: { controller: "slim-select" } }
  = f.submit class: 'btn btn-primary'