.input-group{"data-controller": "clipboard", "data-clipboard-success-content-value": "Copied!"}
  %input{"data-clipboard-target": "source", class: "form-control", value: data_stream.to_global_id, "data-bs-toggle": "tooltip", "data-bs-title": data_stream.to_global_id, readonly: true}
  %button{type: "button", class: "btn btn-outline-primary", "data-action": "clipboard#copy", "data-clipboard-target": "button", "data-bs-toggle": "tooltip", "data-bs-title": "Copy"}
    %span.bi-clipboard