.d-flex
  %h4
    = @data_stream
  .ms-auto
    .d-flex
      .me-2
        = render "token_sgid", data_stream: @data_stream
      = render "connection_modal", data_stream: @data_stream

%hr

- @data_stream_files.each do |data_stream_file|
  = data_stream_file