.d-flex
  %h4
    = @data_stream
  .ms-auto
    .d-flex
      .me-2
        = render "token_sgid", data_stream: @data_stream
      = render "connection_modal", data_stream: @data_stream

%hr

%table.table
  %thead
    %tr
      %th #
      %th File
      %th CreatedAt
      %th Action
  %tbody{id: "data_stream_files"}
    = render partial: "data_stream_file", collection: @data_stream_files

