- exception.errors.full_messages.each do |message|
  .alert.alert-warning.alert-dismissible.fade.show{role: "alert"}
    = message
    %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", type: "button"}
-# %ul.alert.alert-warning
-#   - exception.errors.full_messages.each do |message|
-#     %li= message
-# %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", type: "button"}

-#
-# - flash.each do |key, value|
-#   = content_tag(:div, class: flash_class(key), role: key ) do
-#     = value
-#     %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", type: "button"}
