.row{"data-dashboards-type-value": 'bar', "data-controller": "dashboards", "data-index": params[:file_upload_id]}
  .col-md-3.list-group{"data-dashboards-target":  "headers"}
    = render partial: "csv_header", collection: @csv_headers
  .col-md-3
    .row.list-group.h-50.border{"data-dashboards-target": "columnNames"}
    .row.list-group.h-50.border{"data-dashboards-target": "groupBy"}
  .col-md-6
    %canvas{"data-dashboards-target":  "canvas", class: 'border rounded-1'}