.d-flex.align-items-center
  = link_to t('.share_dashboard'), new_dashboard_short_url_path(@dashboard), class: "btn btn-sm btn-primary",  data: { turbo_frame: "modal" }
  .ms-auto
    = link_to dashboard_short_urls_path(@dashboard), class: "btn btn-primary",  "data-bs-toggle": "tooltip", "data-bs-title":  t('.shared_links') do
      %i.bi-info-circle


.modal.fade{"aria-hidden" => "true", role: "dialog", "data-bs-focus": "false", "data-action" => "turbo:frame-load->modal#open turbo:submit-end->modal#close", "data-controller" => "modal", tabindex: "-1"}
  .modal-dialog.modal-dialog-centered
    .modal-content
      = turbo_frame_tag "modal"

%hr

.row.m-3
  - @dashboard.visualizations.each do |visualization|
    .col-md-6
      = visualization.label
      - if visualization.y_axis_object.present?
        %canvas.my-2{"data-controller": "dashboard", "data-index": visualization.dataset_id, "data-dashboard-type-value": visualization.chart_type, "data-dashboard-group-by-value": visualization.y_axis_object.to_json, "data-dashboard-column-names-value": visualization.x_axis_object.to_json,  class: 'border rounded-1'}
