%ul.nav.nav-tabs{role: "tablist"}
  %li.nav-item{role: "presentation"}
    %button#curl-tab.nav-link.active{"aria-controls" => "curl-tab-pane", "aria-selected" => "true", "data-bs-target" => "#curl-tab-pane", "data-bs-toggle" => "tab", role: "tab", type: "button"} cURL
  %li.nav-item{role: "presentation"}
    %button#ruby-tab.nav-link{"aria-controls" => "ruby-tab-pane", "aria-selected" => "false", "data-bs-target" => "#ruby-tab-pane", "data-bs-toggle" => "tab", role: "tab", type: "button"} Ruby
  %li.nav-item{role: "presentation"}
    %button#nodejs-tab.nav-link{"aria-controls" => "nodejs-tab-pane", "aria-selected" => "false", "data-bs-target" => "#nodejs-tab-pane", "data-bs-toggle" => "tab", role: "tab", type: "button"} NodeJS
.tab-content
  #curl-tab-pane.tab-pane.fade.show.active{"aria-labelledby" => "curl-tab", role: "tabpanel", tabindex: "0"}
    %pre.p-3
      :plain
        curl --location 'localhost:3000/api/data_stream_files' \
        --header 'Authorization: YOUR_API_KEY' \
        --form 'data_stream_file[file]=@"YOUR_DATA_STREAM_FILE"' \
        --form 'data_stream_file[gid]="YOUR_DATA_STREAM_GID"'
  #ruby-tab-pane.tab-pane.fade{"aria-labelledby" => "ruby-tab", role: "tabpanel", tabindex: "0"}
    %pre.p-3
      :plain
        require "uri"
        require "net/http"

        url = URI("localhost:3000/api/data_stream_files")

        http = Net::HTTP.new(url.host, url.port);
        request = Net::HTTP::Post.new(url)
        request["Authorization"] = "YOUR_API_KEY"
        form_data = [['data_stream_file[file]', File.open('YOUR_DATA_STREAM_FILE')],['data_stream_file[gid]', 'YOUR_DATA_STREAM_GID']]
        request.set_form form_data, 'multipart/form-data'
        response = http.request(request)
        puts response.read_body

  #nodejs-tab-pane.tab-pane.fade{"aria-labelledby" => "nodejs-tab", role: "tabpanel", tabindex: "0"}
    %pre.p-3
      :plain
        const axios = require('axios');
        const FormData = require('form-data');
        const fs = require('fs');
        let data = new FormData();
        data.append('data_stream_file[file]', fs.createReadStream('YOUR_DATA_STREAM_FILE'));
        data.append('data_stream_file[gid]', 'YOUR_DATA_STREAM_GID');

        let config = {
          method: 'post',
          maxBodyLength: Infinity,
          url: 'localhost:3000/api/data_stream_files',
          headers: {
            'Authorization': 'YOUR_API_KEY',
            ...data.getHeaders()
          },
          data : data
        };

        axios.request(config)
        .then((response) => {
          console.log(JSON.stringify(response.data));
        })
        .catch((error) => {
          console.log(error);
        });

