%span{"aria-controls" => "offcanvasScrolling", "data-bs-target" => "#offcanvasScrolling", "data-bs-toggle" => "offcanvas"}
  %button.btn.btn-primary{ "data-bs-toggle": "tooltip", "data-bs-title":  t('.data_table') }
    %i.bi-info-circle
#offcanvasScrolling.offcanvas.offcanvas-end.w-75{"data-bs-backdrop" => "true", "data-bs-scroll" => "true", tabindex: "-1"}
  .offcanvas-header
    %h5.offcanvas-title
      = title
    %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "offcanvas", type: "button"}
  .offcanvas-body
    %div{class: "mt-3", data: { controller: "tabulator", index: dataset_id } }