%hr

%footer.d-flex.justify-content-center.align-items-center.my-2
  %ul.nav
    %li.ms-3
      %a.text-muted{href: "#"}
        %i.bi-twitter
    %li.ms-3
      %a.text-muted{href: "#"}
        %i.bi-instagram
    %li.ms-3
      %a.text-muted{href: "#"}
        %i.bi-facebook
