.d-flex.flex-column.flex-shrink-0.p-3.bg-light{style: "width: 280px;"}
  %ul.navbar-nav.flex-column.mb-auto
    %li
      %a.nav-link.link-dark{href: "#"}
        %svg.bi.me-2{height: "16", width: "16"}
          %use{"xlink:href" => "#speedometer2"}
        Dashboard
    %li
      %a.nav-link.link-dark{href: "#"}
        %svg.bi.me-2{height: "16", width: "16"}
          %use{"xlink:href" => "#table"}
        Orders
    %li
      %a.nav-link.link-dark{href: "#"}
        %svg.bi.me-2{height: "16", width: "16"}
          %use{"xlink:href" => "#grid"}
        Products
    %li
      %a.nav-link.link-dark{href: "#"}
        %svg.bi.me-2{height: "16", width: "16"}
          %use{"xlink:href" => "#people-circle"}
        Customers
  = render "layouts/footer"